<!-- public/views/home.html-->
<h1>Favorite Jobs</h1>

<uib-accordion ng-repeat="job in jobs">
    <uib-accordion-group>
        <uib-accordion-heading>
            {{ job.title }}<span ng-click="delete(job); $event.stopPropagation();" class="glyphicon glyphicon-trash pull-right"></span>
        </uib-accordion-heading>
        <div>
            <div>Company:  {{ job.companyName }} </div>
            <div ng-bind-html="job.description"></div>
            <a ng-href='{{job.url}}'>Apply here</a>
        </div>
    </uib-accordion-group>
</uib-accordion>

