<!-- public/views/search.html -->
<div ng-show="searchError">SEARCH ERROR!!!</div>

<div>powered by: 
    <a href='http://www.glassdoor.com/index.htm'>
        <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Glass Door Job Search' />
    </a>
    <a href='http://www.authenticjobs.com'>
        <img src='../img/authenticJobs.png' title='AuthenticJobs search' />
    </a>
    <a href='http://www.usajobs.gov'>
        <img src='../img/usaJobs.jpg' title='USAJobs search' />
    </a>
    <a href='http://jobs.github.com/positions'>
        <img src='../img/gitHub.png' title='GitHub Jobs search' />
    </a>
</div>

<div class="input-group">
    <input id="address" ng-model="searchText" placeholder="Search all remote jobs by title" class="form-control"> 
    <span class="input-group-btn">
         <button class="btn btn btn-primary" type="button" ng-click="search()">Search</button>
    </span> 
</div>
<div ng-show="allListings.length === 0"> No results found...</div>
<div ng-show="allListings.length > 0">
    <div>total listings: {{ allListings.length }}</div>
    <div ng-repeat="job in allListings">
        <div class="row-fluid">
            <li>{{ job.title }}
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="checkbox" ng-click="toggleFavorite($index, job)" autocomplete="off"> Checkbox 1
                    </label>
                </div>
            </li>
        </div>
        
    </div>
</div>
